body {
    margin: 0;
    height: 100vh; /* S'assure que le body prend tout l'écran */
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
  }

  #app {        
    height: 100%; /* S'assure que l'application occupe tout le body */
  }
  